@charset "UTF-8";
body,
p,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
td,
input,
select,
option,
textarea {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  background: #f2f2f2; }

.register {
  width: 100%;
  overflow: hidden;
  background: #333333; }

.register img {
  float: left; }

.register h3 {
  display: inline-block;
  font-size: 20px;
  float: left;
  margin-left: 10px;
  border-left: 1px solid #f8f8f8;
  padding-left: 10px;
  font-weight: 100;
  color: white; }

.logo {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  height: 45px;
  line-height: 45px; }

.content {
  width: 100%; }

.w990 {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.reg_top {
  position: relative;
  z-index: 2;
  height: 40px;
  line-height: 40px;
  margin: 15px 0; }

.reg_top ul {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 160px; }

.reg_top ul li {
  margin-right: 10px;
  border: 1px solid #dddddd;
  padding: 8px 35px;
  height: 36px;
  line-height: 36px;
  float: left;
  background: #f8f8f8; }

.reg_top ul li a {
  color: #999;
  font-size: 14px; }

.reg_top ul li:nth-of-type(1) {
  background: white; }

.over {
  color: #666;
  font-size: 12px;
  float: right;
  margin-right: 15px; }

.over a {
  color: #e31939; }

/*手机注册部分*/
.reg_wrap {
  clear: both;
  border: 1px solid #dddddd;
  padding: 40px;
  margin-top: -2px;
  z-index: 1;
  background: white; }

/* .reg_wrap_con {
  background: url(../img/rester1.png) no-repeat right 70px; } */
.reg_input {
  display: inline-block;
  margin: 0 0 30px; }

.reg_input input {
  width: 250px;
  max-width: 600px;
  height: 38px;
  line-height: 38px;
  outline: none; }

.reg_input #code {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 4px;
  color: skyblue;
  font-size: 25px;
  width: 120px;
  height: 40px;
  cursor: move;
  margin-left: 10px;
  vertical-align: middle; }

.reg_form label {
  width: 100px;
  line-height: 38px;
  text-align: right;
  margin-right: 20px;
  float: left; }

.reg_form label span {
  font-size: 12px; }

.reg_form label span:nth-of-type(1) {
  color: red; }

.differ {
  color: #666; }

.differ input {
  width: 110px; }

.differ a {
  width: 135px;
  height: 38px;
  line-height: 38px;
  background: #f6f6f6;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  font-size: 12px; }

.differ span {
  margin-left: 16px;
  font-size: 12px; }

.differ a:hover {
  color: red; }

.only label span {
  margin-right: 20px; }

.agree input {
  width: 12px;
  height: 12px;
  vertical-align: middle; }

.agree span {
  display: inline-block;
  font-size: 12px;
  color: #666; }

.agree span a {
  color: #666; }

.agree span a:hover {
  color: red; }

.sub {
  display: inline-block;
  margin-right: 10px; }

.sub input {
  background: #e31939;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 262px;
  height: 35px;
  line-height: 35px;
  margin-left: 120px; }

/*邮箱注册部分*/
.email {
  display: none; }

#passwordStrong {
  width: 250px;
  height: 6px;
  line-height: 6px;
  border-radius: 4px;
  margin-top: 20px;
  display: none; }

#PSShow {
  border-radius: 3px;
  display: inline-block; }

.weakId {
  width: 25%;
  height: 100%;
  background: red; }

.middleId {
  width: 50%;
  height: 100%;
  background: orange; }

.strongId {
  width: 75%;
  height: 100%;
  background: blue; }

.overStrongId {
  width: 100%;
  height: 100%;
  background: green; }

/*footer部分*/
.footer_center {
  width: 1200px;
  margin: 20px auto;
  text-align: center;
  color: #999;
  border-top: 1px solid #dcdcdc;
  font-size: 12px; }

.footer_center p {
  font-size: 12px;
  color: #666;
  margin-top: 8px; }

.footer_center a {
  color: #999;
  font-size: 12px;
  margin-top: 13px;
  display: inline-block; }

form p {
  color: #e31939;
  margin-top: 10px;
  font-size: 14px; }

#tishi {
  color: red;
  margin-top: 10px; }
