//friendship部分
.friendship{
    width: 100%;
    background: #f0f0f0;
    overflow: hidden;
    .friendship_cen{
        width: 1200px;
        margin: 0 auto;
        .friendship_top{
            height: 55px;
            line-height: 55px;
            padding: 40px 0px 70px 0px;
            li{
                float: left;
                margin-left: 86px;
                a{
                    display: inline-block;
                    font-size: 18px;
                    color: #3a3a3a;
                    &:hover{
                        color: #ca141d;
                    }
                    i{
                        display: inline-block;
                        width: 48px;
                        height: 48px;
                        vertical-align: middle;
                        margin-right: 17px;
                        background: url(../img/index/icon.png) no-repeat left center;
                    } 
                }
            }
            li:nth-of-type(1) {
                margin-left: 0px;
                i{
                    background-position: 1px -150px;
                }
            }
            li:nth-of-type(2) i{
                background-position: -46px -150px;
            }
            li:nth-of-type(3) i{
                background-position: -93px -150px;
            }
            li:nth-of-type(4) i{
                background-position: -140px -150px;
            }
        }
        .friendship_bottom{
            clear: both;
            ul {
                padding-bottom: 40px;
                li{
                    // display: inline-block;
                    float: left;
                    padding-right: 55px;
                    h4{
                        font-weight: 100;
                        font-size: 14px;
                        padding-bottom: 20px;
                    }
                    ul li{
                        // display: block;
                        clear: both;
                        padding-bottom: 10px;
                        a{
                            color: #666;
                            &:hover{
                                color: #ca141d;
                            }
                        }
                    }
                }
                li:last-of-type{
                    padding-right: 0px;
                    text-align: center;
                    h3{
                        font-size: 20px;
                        font-weight: 100;
                    }
                    p{
                        color: #666;
                        margin: 15px 0px;
                    }
                    .fu{
                        display: inline-block;
                        color: #ca141d;
                        width:160px;
                        height: 35px;
                        background: white;
                        border-radius: 4px;
                        line-height: 35px;
                        border:1px solid #f0f0f0;
                        i{
                            display: inline-block;
                            width:25px;
                            height:20px ;
                            background: url(../img/index/icon.png) -100px -22px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
// footer部分
footer{
    width:100%;
    background: #e6e6e6;
    .footer_cen{
        width: 1200px;
        // height: 100px;
        padding: 30px 0px;
        margin:0 auto;
        .footer1{
           display: inline-block;
           margin-left: 35px;
           p{
               font-size: 12px;
               color: #666;
               a{
                color: #666;
                &:hover{
                    color: #ca141d;
                }
               }
           }
        }
        .footer2{
            display: inline-block;
            float: right;
            img{
                width: 68px;
                height: 25px;
            }
        }
    }
}